@{
    ViewBag.Title = "聯絡方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    台中總公司：台中市42723潭子區潭興路一段三號<br />
    電話：04-25381220 # 1113 李念康
    傳真：04-25395133
</address>

<address>
    台北辦公室：台北市敦化南路二段76號18F-1<br />
    電話：02-27093833
    傳真：02-27092005
</address>