@{
    ViewBag.Title = "聯絡方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    台中總公司：台中市42723潭子區潭興路一段三號<br />
    電話：04-25381220 # 1202 陳巧玲
    傳真：04-25395133
</address>

<address>
    系統故障排除<br />
    電話：04-25381220 # 1113 李念康
</address>