@{
    ViewBag.Title = "績效考核首頁";
}

<div class="jumbotron">
    <h1>國光生物科技2014年績效考核</h1>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <p class="lead">歡迎開始考核</p>
} 
    else
{
    <p class="lead">使用者請先用您的網域帳號登入後才能開始考核</p>
}
</div>
