@model IEnumerable<appraisal.Models.ots>

@{
    ViewBag.Title = "考核區間日期設定";
}

<h2>考核區間日期設定</h2>

<p>
    <!--@Html.ActionLink("新增考核區間日期", "Create")-->
</p>
<table class="table">
    <tr>
        <th>
            區間
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <!--@Html.DisplayFor(modelItem => item.Skey)-->
        @if (item.Skey == "startDate")
        {<td>初評開始日期</td>}
        else if (item.Skey == "startDate2")
        {<td>複評開始日期</td>}
        else if (item.Skey == "endDate1")
        {<td>初評截止日期</td>}
        else if (item.Skey == "endDate2")
        {<td>複評截止日期</td>}
        <td>
            @Html.DisplayFor(modelItem => item.Vl)
        </td>
        <td>
            @Html.ActionLink("修改時間", "Edit", new { sid=item.Skey }) 
            <!-- | @Html.ActionLink("明細", "Details", new { sid=item.Skey }) | -->
            <!--@Html.ActionLink("刪除", "Delete", new { sid=item.Skey }) -->
        </td>
    </tr>
}

</table>
